.background-container {
    background-color: #f7f9fc;
    height: 100vh;
  }
  
  .content-container {
    height: 100%;
  }
  
  .reset-password-card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .form-header-section {
    color: #2596be;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
    font-family: revert;
  }
  
  .nb-card-header {
    background-color: #2596be;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .form-group {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .eye-icon {
    cursor: pointer;
  }
  
  .text-danger {
    color: #ff3860;
    font-size: 12px;
    margin-top: 5px;
  }