.col-form-label {
    color: black;
    font-size: 14px;
}

.header-section {
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-header-section {
    width: 100%;
    color: #2596be !important;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 15px;
    font-family: revert;
}

.no-border {
    border: 0;
    box-shadow: none;
    background-color: #ffffff;
}

.hr-vertical {
    border-top: 2px solid #000;
}