<nb-layout>
    <nb-layout-column class="d-flex justify-content-center align-items-center">
      <nb-card class="login-card">
        <nb-card-header class="text-center">SignIn</nb-card-header>
        <nb-card-body>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
            <div class="form-group mb-3 w-100 position-relative">
              <input nbInput placeholder="Username" formControlName="email" fullWidth />
              <nb-icon *ngIf="!loginForm.get('email').value" icon="person-outline" pack="eva" class="input-icon"></nb-icon>
            </div>
            <div class="form-group mb-3 w-100 position-relative">
              <input nbInput placeholder="Password" formControlName="password" [type]="passwordFieldType" fullWidth />
              <nb-icon icon="eye-outline" pack="eva" class="input-icon eye-icon" (click)="togglePasswordVisibility()"></nb-icon>
            </div>
            <div class="form-group mb-3 d-flex justify-content-between w-100">
              <a routerLink="" class="forget-password-link">Forget Password?</a>
              <a routerLink="/auth/register" class="forget-password-link">SignUp</a>
            </div>
            <button nbButton status="primary" type="submit" fullWidth>Login</button>
          </form>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>
  