.background-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(3, 188, 250) 50%, white 50%);
  }
  
  .content-container {
    width: 100%;
    max-width: 400px; 
  }
  
  .login-card {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      margin-top: 100px; 
    }
    
    .form-group {
      position: relative;
      margin-bottom: 20px;
      width: 100%; 
    }
    
    .input-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
    
    .eye-icon {
      cursor: pointer;
    }
    
    button[fullWidth], input[fullWidth] {
      width: 100%;
    }
    
    .text-center {
      text-align: center;
    }
    