<ngx-extended-pdf-viewer
[base64Src]="report"
backgroundColor="#525659"
[height]="'100vh'"
[useBrowserLocale]="true"
[handTool]="false"
[showHandToolButton]="false"
[showOpenFileButton]="false"
[enablePrint]="true"
[filenameForDownload]="documentTitle"

[showSecondaryToolbarButton]="false"
[showScrollingButton]="false"

>
</ngx-extended-pdf-viewer>
<!-- <ngx-pdf-viewer [report]="report" [documentTitle]="documentTitle"></ngx-pdf-viewer> -->
<!-- [showBookmarkButton]="false"
[enablePinchOnMobile]="true" -->