<nb-card>
    <nb-card-header class="header-section">Create Page</nb-card-header>
    <nb-card-body>
        <h2 class="form-header-section">Personal Information</h2>
        <hr class="hr-vertical">
        <form [formGroup]="saveInfoForm">
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="form-group row">
                        <label for="customerType" class="label col-sm-4 col-form-label">Name<span
                                class="text-danger">*</span> :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="name" fullWidth placeholder="Name">
                            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                                <div *ngIf="f.name.errors?.required">Please Enter Name!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-2">
                    <div class="form-group row">
                        <label for="customerType" class="label col-sm-4 col-form-label">Date Of Birth :</label>
                        <div class="col-sm-8">
                            <input nbInput placeholder="Select Date" formControlName="dateOfBirth" fullWidth (ngModelChange)="dateChange($event)" [nbDatepicker]="formpicker">
                            <nb-datepicker #formpicker ></nb-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="form-group row">
                        <label for="customerType" class="label col-sm-4 col-form-label">Country<span
                                class="text-danger">*</span> :</label>
                        <div class="col-sm-8">
                            <nb-select fullWidth placeholder="Please Select Country" formControlName="countryId"
                            (selectedChange)="citySelect($event)">
                                <nb-option *ngFor="let item of countries"
                                    [value]="item.id">{{item.countryName}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-2">
                    <div class="form-group row">
                        <label for="customerType" class="label col-sm-4 col-form-label">City<span
                                class="text-danger">*</span> :</label>
                        <div class="col-sm-8">
                            <nb-select fullWidth placeholder="Please Select City" formControlName="cityId">
                                <nb-option *ngFor="let item of city" [value]="item.id">{{item.cityName}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-1">
                    <div class="form-group row">
                        <label for="customerType" class="label col-sm-4 col-form-label">Language Skills<span
                                class="text-danger">*</span> :</label>
                        <div class="col-sm-8">
                            <li *ngFor="let item of lstLanguage">
                                <input type="checkbox" [checked]="getSelection(item)" (change)="changeHandler(item)">
                                <label>{{item.languageName}}</label>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-1" *ngIf="this.isEditable == false">
                    <div class="form-group row">
                        <label for="customerType" class="label col-sm-4 col-form-label">Upload Resume :</label>
                        <div class="col-sm-8">
                            <input type="file" fullWidth class="btn btn-secondary" formControlName="document" (change)="onFileSelected($event)" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <button *ngIf="this.isEditable == false"  nbButton fullWidth status="primary" (click)="submitForm()"> Save </button>
                                <button *ngIf="this.isEditable" nbButton fullWidth status="primary" (click)="updateInfo()"> Update </button>
                            </div>
                            <div class="col-sm-4">
                                <button nbButton fullWidth status="danger" (click)="refresh()"> Refresh </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-footer>
</nb-card>

