nb-card {
    max-width: 500px;
    width: 100%;
    margin: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .eye-icon {
    cursor: pointer;
  }
  
  .forget-password-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .forget-password-link:hover {
    text-decoration: underline;
  }

  .signin-link {
    display: block;
    text-align: right;
    width: 100%;
    color: #007bff;
    text-decoration: none;
  }