<nb-layout>
    <nb-layout-column class="background-container">
      <div class="content-container d-flex justify-content-center align-items-center">
        <nb-card class="login-card">
          <nb-card-header class="text-center">Forget Password</nb-card-header>
          <nb-card-body>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
              <div class="form-group mb-3 w-100 position-relative">
                <input nbInput placeholder="Email" formControlName="email" fullWidth />
                <nb-icon *ngIf="!form.get('email').value" icon="email-outline" pack="eva" class="input-icon"></nb-icon>
              </div>
              <button nbButton status="primary" type="submit" fullWidth>Login</button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </nb-layout-column>
  </nb-layout>